.center-inline{
  width: 100%;
  text-align: center;
  display: inline-block;
}

.center-x{
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.center-xy{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-y{
  height: 100%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}
